body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 5; 
}

p {
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#name {
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: green;
}

.info {
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: darkorange;
}


a {
    color: #0000FF;
    text-decoration: none;
}

li {
    font-size: 16px;
    color: mediumpurple;
    
}